<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Amazon Application Test ">

	<listeners>
		<listener class-name="com.amazon.extentreportlistener.ExtentReporterNG" />
	</listeners>
	<test name="Amazon Test">
		<classes>
			<class name="com.amazon.testcases.HomePageFilterTest"></class>
		</classes>
	</test>
</suite>